#preview-only-preview {
  figure {
    display: flex!important;
    justify-content: center!important;
    img {
      display: block !important;
      margin: 25px auto !important;
    }
  }
  img {
    display: block !important;
    margin: 25px auto !important;
  }
}

.md_catalog_list {
  position: fixed;
  top: 10rem;
  right: 5rem;
  text-align: left;
  font-size: 16px;
}

.theme-select {
  .theme-select-icon {
    transition: .3s all ease-in-out;
  }

  &:hover .theme-select-icon {
    transform: rotate(180deg);
  }
}
