.root_content {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  //background: url("@/assets/bg.jpg") fixed;
  //background-position: center center;
  position: relative;
  user-select: none;

  .spline_container {
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    .spline{
    }

  }

  .info {
    width: 100vw;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: center;

    img {
      width: 211px;
      border-radius: 50%;
      transition: 1s all ease;

      &:hover {
        box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px,
        rgba(255, 255, 255, 0.12) 0px -12px 30px,
        rgba(255, 255, 255, 0.12) 0px 4px 6px,
        rgba(255, 255, 255, 0.17) 0px 12px 13px,
        rgba(255, 255, 255, 0.09) 0px -3px 5px;
      }
    }

    h1 {
      font-family: monospace;
      font-weight: normal;
      color: #ffffff;

      .my-cursor {
        animation: flash 300ms infinite;
      }
    }
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
